.main {
    margin: 8vh 2vw 0 2vw;
    display: flex;
    flex-direction: column;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-body > * {
    margin-top: 2vh;
}

#HistoryPurchases {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 65%;
}

#HistoryPurchases > * {
    align-self: center;
}

#HistoryPurchases .card {
    align-self: center;
    margin: 2vh 0 2vh 1vw;
    width: 40vw;
}

#HistoryPurchases .card-body {
    display: flex;
    flex-direction: column;
}
